USE [master]
GO
/****** Object:  Database [Canchas_2022]    Script Date: 20/11/2022 18:30:19 ******/
CREATE DATABASE [Canchas_2022]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Canchas_2022', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Canchas_2022.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Canchas_2022_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Canchas_2022_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Canchas_2022].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Canchas_2022]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Usuario] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Criticidad] [nvarchar](50) NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cancha]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancha](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Material] [nvarchar](50) NOT NULL,
	[PrecioBase] [float] NULL,
 CONSTRAINT [PK_Cancha] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlCliente]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlCliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[UsuarioId] [int] NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ControlCliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deudas]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deudas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Reserva] [int] NOT NULL,
	[Id_Cliente] [int] NOT NULL,
	[Fecha_Pago] [datetime] NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Deudas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificador]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador](
	[Id_Tabla] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Tabla] [nvarchar](50) NOT NULL,
	[DV] [int] NOT NULL,
 CONSTRAINT [PK_DigitoVerificador] PRIMARY KEY CLUSTERED 
(
	[Id_Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Etiqueta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaPatente]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPatente](
	[PadreId] [int] NOT NULL,
	[HijoId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Default] [bit] NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Permiso] [nvarchar](200) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Cancha] [int] NOT NULL,
	[Id_Cliente] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [nvarchar](5) NOT NULL,
	[Semana] [bit] NOT NULL,
	[Forma_Pago] [nvarchar](50) NOT NULL,
	[Seña] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[Pagar] [float] NOT NULL,
	[Pagado] [nvarchar](20) NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdiomaId] [int] NOT NULL,
	[EtiquetaId] [int] NOT NULL,
	[Traduccion] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Traduccion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPermiso]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPermiso](
	[Id_UsuarioPermiso] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[PatenteId] [int] NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioPermiso] PRIMARY KEY CLUSTERED 
(
	[Id_UsuarioPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/11/2022 18:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Nombre_Usuario] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](50) NOT NULL,
	[Puesto] [nvarchar](50) NOT NULL,
	[Dni] [int] NOT NULL,
	[Sexo] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Estado] [int] NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id], [Nombre_Usuario], [Descripcion], [Fecha], [Criticidad], [DVH]) VALUES (4752, N'seguridad', N'Se recalcularon los digitos verificadores', CAST(N'2022-11-18T18:11:32.777' AS DateTime), N'ALTA', 102675)
INSERT [dbo].[Bitacora] ([Id], [Nombre_Usuario], [Descripcion], [Fecha], [Criticidad], [DVH]) VALUES (4753, N'ramiro', N'Se logeó el usuario.', CAST(N'2022-11-18T18:11:38.290' AS DateTime), N'BAJA', 32532)
INSERT [dbo].[Bitacora] ([Id], [Nombre_Usuario], [Descripcion], [Fecha], [Criticidad], [DVH]) VALUES (4754, N'seguridad', N'Se recalcularon los digitos verificadores', CAST(N'2022-11-19T03:44:44.770' AS DateTime), N'ALTA', 102757)
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Cancha] ON 

INSERT [dbo].[Cancha] ([Id], [Tipo], [Material], [PrecioBase]) VALUES (1, N'F5', N'Cesped sintetico', 3500)
INSERT [dbo].[Cancha] ([Id], [Tipo], [Material], [PrecioBase]) VALUES (2, N'F8', N'Cesped sintetico', 6000)
INSERT [dbo].[Cancha] ([Id], [Tipo], [Material], [PrecioBase]) VALUES (3, N'F5', N'Piso', 3000)
SET IDENTITY_INSERT [dbo].[Cancha] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([Id], [Nombre], [Apellido], [Telefono]) VALUES (1, N'Lucas', N'Gonzalez', 1158174329)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[ControlCliente] ON 

INSERT [dbo].[ControlCliente] ([Id], [ClienteId], [Nombre], [Apellido], [Telefono], [Fecha], [UsuarioId], [Descripcion]) VALUES (1, 1, N'Lucas', N'Gonzalez', 1158174329, CAST(N'2022-11-20T13:16:58.310' AS DateTime), 2, N'Se dió de alta el cliente')
INSERT [dbo].[ControlCliente] ([Id], [ClienteId], [Nombre], [Apellido], [Telefono], [Fecha], [UsuarioId], [Descripcion]) VALUES (4, 1, N'Lucas', N'Gonzalez', 0, CAST(N'2022-11-20T16:32:51.233' AS DateTime), 2, N'Se realizaron modificaciones en el cliente')
INSERT [dbo].[ControlCliente] ([Id], [ClienteId], [Nombre], [Apellido], [Telefono], [Fecha], [UsuarioId], [Descripcion]) VALUES (5, 1, N'Lucas', N'Gonzalez', 1158174329, CAST(N'2022-11-20T16:32:58.293' AS DateTime), 2, N'Se realizaron modificaciones en el cliente')
SET IDENTITY_INSERT [dbo].[ControlCliente] OFF
GO
SET IDENTITY_INSERT [dbo].[DigitoVerificador] ON 

INSERT [dbo].[DigitoVerificador] ([Id_Tabla], [Nombre_Tabla], [DV]) VALUES (1, N'Usuarios', 298864)
INSERT [dbo].[DigitoVerificador] ([Id_Tabla], [Nombre_Tabla], [DV]) VALUES (2, N'Bitacora', 2887680)
INSERT [dbo].[DigitoVerificador] ([Id_Tabla], [Nombre_Tabla], [DV]) VALUES (4, N'Reserva', 0)
SET IDENTITY_INSERT [dbo].[DigitoVerificador] OFF
GO
SET IDENTITY_INSERT [dbo].[Etiqueta] ON 

INSERT [dbo].[Etiqueta] ([Id], [Nombre]) VALUES (1, N'menu_Menu')
INSERT [dbo].[Etiqueta] ([Id], [Nombre]) VALUES (2, N'menu_Cancha')
INSERT [dbo].[Etiqueta] ([Id], [Nombre]) VALUES (3, N'menu_Gestion')
GO
SET IDENTITY_INSERT [dbo].[Etiqueta] OFF
GO
INSERT [dbo].[FamiliaPatente] ([PadreId], [HijoId]) VALUES (1022, 10)
INSERT [dbo].[FamiliaPatente] ([PadreId], [HijoId]) VALUES (1, 1020)
INSERT [dbo].[FamiliaPatente] ([PadreId], [HijoId]) VALUES (1, 1013)
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([Id], [Nombre], [Default]) VALUES (1, N'Español', 1)
INSERT [dbo].[Idioma] ([Id], [Nombre], [Default]) VALUES (2, N'English', 0)
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([Id], [Nombre], [Permiso]) VALUES (1, N'Administrador', NULL)
INSERT [dbo].[Permiso] ([Id], [Nombre], [Permiso]) VALUES (7, N'Gestion de Usuarios', N'Gestion_Usuarios')
INSERT [dbo].[Permiso] ([Id], [Nombre], [Permiso]) VALUES (8, N'Gestion de Canchas', N'Gestion_Canchas')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Traduccion] ON 

INSERT [dbo].[Traduccion] ([Id], [IdiomaId], [EtiquetaId], [Traduccion]) VALUES (1, 1, 1, N'Menu')
INSERT [dbo].[Traduccion] ([Id], [IdiomaId], [EtiquetaId], [Traduccion]) VALUES (2, 2, 1, N'Main')
INSERT [dbo].[Traduccion] ([Id], [IdiomaId], [EtiquetaId], [Traduccion]) VALUES (3, 1, 2, N'Cancha')
GO
SET IDENTITY_INSERT [dbo].[Traduccion] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuarioPermiso] ON 

INSERT [dbo].[UsuarioPermiso] ([Id_UsuarioPermiso], [UsuarioId], [PatenteId], [DVH]) VALUES (1, 2, 1, 148)
INSERT [dbo].[UsuarioPermiso] ([Id_UsuarioPermiso], [UsuarioId], [PatenteId], [DVH]) VALUES (2, 4, 1, 151)
SET IDENTITY_INSERT [dbo].[UsuarioPermiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido], [Nombre_Usuario], [Contraseña], [Puesto], [Dni], [Sexo], [Mail], [Telefono], [Tipo], [Estado], [DVH]) VALUES (2, N'qO5+kqBvJk0VglIuQENyAA==', N'FpIlz41KyvtcmpjBB/UvpA==', N'bhs9QjaREqSMQPPzGSDEmA==', N'7B93BC9E19F7023489BB784CC364D67B', N'Administrador', 39810500, N'Masculino', N'ramiro.itokazu@gmail.com', 1158174329, N'Celular', 0, 157409)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido], [Nombre_Usuario], [Contraseña], [Puesto], [Dni], [Sexo], [Mail], [Telefono], [Tipo], [Estado], [DVH]) VALUES (4, N'i1/bHyX9UKBkLQ+85EuR0A==', N'l/X97UzEyqkhO9WCCSv5zA==', N'/G2ezJI6pMZHie++LJ7SSA==', N'A94652AA97C7211BA8954DD15A3CF838', N'Administrador', 39810500, N'Masculino', N'juan.perez@gmail.com', 1158174329, N'Celular', 0, 141455)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
